<ul>
  <li class="user-card">  
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="user-image" class="user-image" />
    <div class="card-info">
      <h2 class="card-name" >User Name</h2>
      <p class="card-counter" >Number of posts: 0</p>
    </div>
  </li>

  <li class="user-card">  
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="user-image" class="user-image" />
    <div class="card-info">
      <h2 class="card-name" >User Name</h2>
      <p class="card-counter" >Number of posts: 0</p>
    </div>
  </li>

  <li class="user-card">  
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="user-image" class="user-image" />
    <div class="card-info">
      <h2 class="card-name" >User Name</h2>
      <p class="card-counter" >Number of posts: 0</p>
    </div>
  </li>

  <li class="user-card">  
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="user-image" class="user-image" />
    <div class="card-info">
      <h2 class="card-name" >User Name</h2>
      <p class="card-counter" >Number of posts: 0</p>
    </div>
  </li>

  <li class="user-card">  
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="user-image" class="user-image" />
    <div class="card-info">
      <h2 class="card-name" >User Name</h2>
      <p class="card-counter" >Number of posts: 0</p>
    </div>
  </li>

  <li class="user-card">  
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="user-image" class="user-image" />
    <div class="card-info">
      <h2 class="card-name" >User Name</h2>
      <p class="card-counter" >Number of posts: 0</p>
    </div>
  </li>

</ul>
