<%= render 'user_card', user: @user %>

<%= render 'user_bio', user: @user %>

<h3 class="title">Posts</h3>
<div class="user-posts-list">
  <% @posts.each do |post| %>
    <%= render 'user_post', post: post %>
  <% end %>
  <button class="user-posts-button">See all posts</button>
</div>



