<%= link_to "back to main page", root_path %>
<%= render 'partials/user_card', user: @user %>

<div class="user-posts-list">
<% if @user_posts.empty? %>
  <p class="no-posts">No posts yet</p>
<% end %>
<% @user_posts.each do |post| %>
  <%= render 'partials/user_post', post: post, user: @user %>
  <div class="comments-card info-card">
  <%= render 'partials/post_comments', post: post %>
  </div>
<% end %>
</div>