*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-card{
  align-self: center;
  justify-content: space-between;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.user-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-info{
  margin-left: 30px;
  width: 100%;
  border: 2px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.card-name{
  align-self: center;
}

.card-counter{
  align-self: end;
  justify-self: end;
}

.user-bio{
  align-self: center;
  justify-content: center;
  margin: 50px auto;
  border: 2px solid #ccc;
  max-width: 70%;
  padding: 20px;
}