*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-card{
  align-self: center;
  justify-content: space-between;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.user-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-info{
  margin-left: 30px;
  width: 100%;
  border: 2px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.card-name{
  align-self: center;
}

.card-counter{
  align-self: end;
  justify-self: end;
}

.user-bio{
  align-self: center;
  justify-content: center;
  margin: 50px auto;
  border: 2px solid #ccc;
  max-width: 70%;
  padding: 20px;
}

.user-post {
  align-self: center;
  justify-content: center;
  margin: 50px auto;
  border: 2px solid #ccc;
  max-width: 70%;
  padding: 20px;
}

.user-posts-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.user-posts-title{
  text-align: center;
  text-decoration: underline;
}

.user-post-date{
  text-align: right;
  font-size: small;
}

.user-posts-button{
  align-self: center;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  width: 10%;
  height: 50px;
}